In [5]:
import pandas_datareader as wb
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [6]:
pd.set_option('precision', 4)

# 코스피지수 크롤링
start = datetime.datetime(2019, 8, 1)
end = datetime.datetime(2020, 2, 1)
df_null = wb.DataReader("^KS11","yahoo",start,end)     # ^KS11 : 코스피
df = df_null.dropna()                                  # 결측치 제거

# 새로운 칼럼 생성
# (Price : 당일 대비 다음날 주가가 상승했으면 1, 하락했으면 0 표시)
df['Price'] = 0
for i in range(0, 120):
    if df['Close'][i] < df['Close'][i+1]:
        df['Price'][i] = 1
    else:
        df['Price'][i] = 0
df

C:\Users\ym\AppData\Local\Temp/ipykernel_10484/977416487.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'][i] = 0
C:\Users\ym\AppData\Local\Temp/ipykernel_10484/977416487.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'][i] = 1

,High,Low,Open,Close,Volume,Adj Close,Price
Date,,,,,,,
2019-08-01,2032.2300,2009.3300,2015.0900,2017.3400,461700,2017.3400,0
2019-08-02,2005.3101,1987.1200,1995.3101,1998.1300,438500,1998.1300,0
2019-08-05,1987.6400,1945.3900,1985.9301,1946.9800,639600,1946.9800,0
2019-08-06,1948.5300,1891.8101,1900.3600,1917.5000,739600,1917.5000,0
2019-08-07,1929.2900,1901.6100,1925.3300,1909.7100,760800,1909.7100,1
...,...,...,...,...,...,...,...
2020-01-23,2260.6299,2241.9399,2254.5400,2246.1299,509600,2246.1299,0
2020-01-28,2199.9299,2166.2300,2192.2200,2176.7200,808500,2176.7200,1
2020-01-29,2195.4500,2172.3301,2188.1799,2185.2800,692300,2185.2800,0
2020-01-30,2187.4500,2139.7200,2181.5400,2148.0000,602700,2148.0000,0
2020-01-31,2167.2300,2119.0100,2160.6001,2119.0100,710500,2119.0100,0