In [5]:
# from google.colab import drive
# drive.mount('/content/drive')

In [6]:
# cd /content/drive/MyDrive/UBION_final_project/data

In [7]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [8]:
df = pd.read_excel("07~19.xlsx")
df.head()

,회사명,거래소코드,산업코드,산업명,회계연도,설립일,상장일,상장폐지일,감사의견코드(IFRS),총자본증가율(IFRS),...,PCR(최고)(IFRS),PCR(최저)(IFRS),PSR(최고)(IFRS),PSR(최저)(IFRS),기업가치(EV)(IFRS)(백만원),EBITDA(IFRS)(백만원),EBITDA/매출액(IFRS)(%),EBITDA/금융비용(IFRS)(배),EBITDA/평균발행주식수(IFRS)(백만원),EV/EBITDA(IFRS)(배)
0,CMG제약,58820,32102,의료용 물질 및 의약품 제조업,2007/12,2001/08/01,2001/08/31,NaN,NaN,0.00,...,0.0,0.0,153.61,21.46,69545.33,-1288.45,-71.74,0.00,-101.81,0.00
1,CMG제약,58820,32102,의료용 물질 및 의약품 제조업,2008/12,2001/08/01,2001/08/31,NaN,NaN,56.55,...,0.0,0.0,9.13,1.49,-454.50,-3419.79,-31.64,-4.56,-221.19,NaN
2,CMG제약,58820,32102,의료용 물질 및 의약품 제조업,2009/12,2001/08/01,2001/08/31,NaN,NaN,-33.92,...,0.0,0.0,8.40,1.72,26517.58,-7100.69,-69.98,-6.80,-443.98,NaN
3,CMG제약,58820,32102,의료용 물질 및 의약품 제조업,2010/12,2001/08/01,2001/08/31,NaN,NaN,17.25,...,0.0,0.0,5.77,1.87,32738.22,-6296.81,-55.48,-6.20,-152.92,NaN
4,CMG제약,58820,32102,의료용 물질 및 의약품 제조업,2011/12,2001/08/01,2001/08/31,NaN,UQ,2.89,...,0.0,0.0,3.15,1.06,37758.74,2055.10,11.58,11.33,47.03,18.37

# 같은 회사명에 거래소 코드가 여러개인 애가 있음

In [9]:
check = df.groupby(['회사명'])['거래소코드'].nunique().reset_index()
check.rename(columns={'거래소코드':'거래소코드_갯수'}, inplace=True)
check = check[ check['거래소코드_갯수']>1]

In [10]:
check_df = df[df['회사명'].isin(check['회사명'].tolist())]
check_df = check_df.reset_index()
check_df

,index,회사명,거래소코드,산업코드,산업명,회계연도,설립일,상장일,상장폐지일,감사의견코드(IFRS),...,PCR(최고)(IFRS),PCR(최저)(IFRS),PSR(최고)(IFRS),PSR(최저)(IFRS),기업가치(EV)(IFRS)(백만원),EBITDA(IFRS)(백만원),EBITDA/매출액(IFRS)(%),EBITDA/금융비용(IFRS)(배),EBITDA/평균발행주식수(IFRS)(백만원),EV/EBITDA(IFRS)(배)
0,273,고려시멘트,198440,32303,비금속 광물제품 제조업,2017/12,2014/04/28,2014/08/13,NaN,UQ,...,30.75,16.24,1.11,0.59,61980.59,5456.83,6.22,30.36,179.03,11.36
1,274,고려시멘트,198440,32303,비금속 광물제품 제조업,2018/12,2014/04/28,2014/08/13,NaN,UQ,...,82.41,29.69,1.66,0.60,96116.63,6331.58,7.38,15.18,197.99,15.18
2,275,고려시멘트,198440,32303,비금속 광물제품 제조업,2019/12,2014/04/28,2014/08/13,NaN,UQ,...,52.01,21.56,2.10,0.87,105972.63,1955.41,2.76,4.60,61.14,54.19
3,3140,본느,226340,32004,화학물질 및 화학제품 제조업; 의약품 제외,2018/12,2015/07/28,2015/11/05,NaN,UQ,...,0.00,0.00,4.32,1.88,60529.18,3873.97,15.59,22.67,133.14,15.62
4,3141,본느,242420,32004,화학물질 및 화학제품 제조업; 의약품 제외,2017/12,2009/03/09,2016/05/16,2018/10/29,UQ,...,0.00,0.00,0.00,0.00,-3492.36,3261.57,16.13,24.32,1005.82,-1.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,19959,케이엠제약,225430,32004,화학물질 및 화학제품 제조업; 의약품 제외,2018/12,2015/07/10,2015/10/08,NaN,UQ,...,173.25,32.44,12.18,2.28,62361.95,2025.84,11.71,7.63,101.87,30.78
142,19960,케이엠제약,225430,32004,화학물질 및 화학제품 제조업; 의약품 제외,2019/12,2015/07/10,2015/10/08,NaN,UQ,...,0.00,0.00,4.83,1.85,75815.07,-810.57,-3.99,-3.08,-37.90,0.00
143,20513,패션플랫폼,256090,31401,"의복, 의복 액세서리 및 모피제품 제조업",2016/12,2015/07/15,2015/10/05,NaN,UQ,...,0.00,0.00,0.00,0.00,43.48,7033.65,12.69,76.54,1618.42,0.01
144,20514,패션플랫폼,225590,31401,"의복, 의복 액세서리 및 모피제품 제조업",2018/12,2015/07/15,2015/10/05,NaN,UQ,...,13.04,5.28,0.96,0.39,29116.49,5565.48,7.49,61.11,212.41,5.23
145,20515,패션플랫폼,225590,31401,"의복, 의복 액세서리 및 모피제품 제조업",2019/12,2015/07/15,2015/10/05,NaN,UQ,...,6.56,4.09,0.61,0.38,33911.28,9795.64,12.34,58.30,373.85,3.46

In [11]:
check_df.groupby(['회사명','거래소코드'])['index'].count().reset_index()

         회사명   거래소코드  index
0      고려시멘트    3660      1
1      고려시멘트  198440      3
2       나무기술  167380      1
3       나무기술  242040      2
4         본느  226340      2
5         본느  242420      1
6       삼성물산     830      8
7       삼성물산   28260      6
8      세화피앤씨   85980      4
9      세화피앤씨  252500      3
10     신성이엔지   11930     13
11     신성이엔지  104110      7
12     씨아이에스  144630      2
13     씨아이에스  222080      3
14   아이엘사이언스  122050      1
15   아이엘사이언스  307180      1
16      알로이스  271400      1
17      알로이스  297570      1
18      에스와이    4530      1
19      에스와이  109610      5
20      에스케이    3600      8
21      에스케이   34730     11
22     엔에이치엔   35420      1
23     엔에이치엔  181710      6
24     엔케이맥스  182400      5
25     엔케이맥스  262760      1
26       인산가   62580      2
27       인산가  277410      2
28       자비스  230400      1
29       자비스  254120      1
30       정다운  208140      4
31       정다운  224090      1
32      줌인터넷  229480      3
33      줌인터넷  239340      1
34    케이엠에이치    9690      2
35    케이엠에이치  122450      9
36     케이엠제약  225430      2
37     케이엠제약  237720      3
38     패션플랫폼  225590      2
39     패션플랫폼  256090      1
40  포인트엔지니어링  176560      2
41  포인트엔지니어링  256630      1
42     한국비엔씨  226610      3
43     한국비엔씨  256840      1
44     핸디소프트   32380      3
45     핸디소프트  220180      4

In [12]:
# 합병등과 같은 이유로 거래소코드가 2개인 경우 데이터프레임에서 삭제
df = df[~df['회사명'].isin(check_df['회사명'])]

# 거래소코드가 같은데 회사명이 두개인 경우가 있었음

In [13]:
check = df.groupby(['거래소코드'])['회사명'].nunique().reset_index()
check[check['회사명']>1]

     거래소코드  회사명
744  30790    2
774  32640    2

In [14]:
print( df[df['거래소코드']==30790]['회사명'].unique() )
# '동양시스템즈(주) -> '비케이탑스(주)'

df.loc[df['회사명']=='동양시스템즈(주)', '회사명'] = '비케이탑스(주)'

['동양시스템즈' '비케이탑스']

In [15]:
print( df[df['거래소코드']==32640]['회사명'].unique() )
#'(주)엘지텔레콤' -> '(주)엘지유플러스'

df.loc[df['회사명']=='(주)엘지텔레콤', '회사명'] = '(주)엘지유플러스'

['엘지유플러스' '엘지텔레콤']

In [16]:
check = df.groupby(['거래소코드'])['회사명'].nunique().reset_index()
check[check['회사명']>1]

     거래소코드  회사명
744  30790    2
774  32640    2

# preprocessing

In [17]:
df = df[~df['산업코드'].isnull()]

In [18]:
df['산업코드'] = df['산업코드'].astype(int)
df['산업코드'] = df['산업코드'].astype(str).str.zfill(6)
df['산업대분류'] = df['산업코드'].str[:2]

In [19]:
df = df[df['산업대분류'].isin(['03','10','07'])]

# 결측치

In [20]:
# 컬럼을 기준으로 nan 값 개수를 출력해본다
df.isnull().sum(0).reset_index().sort_values(by=0, ascending=False).head(20)

                           index      0
7                          상장폐지일  16794
8                   감사의견코드(IFRS)   5380
171           EV/EBITDA(IFRS)(배)    828
157                       평균근속연수    231
156                    연간총급여(천원)     62
132        종업원1인당 순이익(IFRS)(백만원)      1
139                 기계투자효율(IFRS)      1
147              금융비용(IFRS)(백만원)      1
145  법인세비용차감전(계속사업)손익(IFRS)(백만원)      1
144            부가가치(IFRS)(백만원).1      1
143                  이윤분배율(IFRS)      1
142                  자본분배율(IFRS)      1
141                노동소득분배율(IFRS)      1
140                  부가가치율(IFRS)      1
137                총자본투자효율(IFRS)      1
138                 설비투자효율(IFRS)      1
149             세금과공과(IFRS)(백만원)      1
136                  자본집약도(IFRS)      1
135                  기계장비율(IFRS)      1
134                  노동장비율(IFRS)      1

In [21]:
# EV/EBITDA(배) NULL값이 너무 많기 때문에 값 채우기

# 여러가지 경우의 수를 확인하는 작업
# df[(df['기업가치(EV)(백만원)'] < 0)&(df['EBITDA(백만원)'] < 0)]['EV/EBITDA(배)'].value_counts()
# df[(df['기업가치(EV)(백만원)'] > 0)&(df['EBITDA(백만원)'] < 0)]['EV/EBITDA(배)'].value_counts()
# df[(df['기업가치(EV)(백만원)'] < 0)&(df['EBITDA(백만원)'] > 0) &(df['EV/EBITDA(배)'] <0)]
# df[(df['기업가치(EV)(백만원)'] > 0)&(df['EBITDA(백만원)'] > 0)  &(df['EV/EBITDA(배)'] >0)]
# df[df['EBITDA(백만원)']==0]
df = df.loc[df['EBITDA(백만원)']!=0]
df['EV/EBITDA(배)'] = round(df['기업가치(EV)(백만원)']/df['EBITDA(백만원)'], 3)
df.loc[(df['EV/EBITDA(배)'] < 0), 'EV/EBITDA(배)'] = 0

KeyError: 'EBITDA(백만원)'

In [ ]:
df[df['회사명'] == '(주)차바이오텍']

In [ ]:
df.isnull().sum(0).reset_index().sort_values(by=0, ascending=False).head(20)

In [ ]:
# 2007이전 발생한 항목은 nan값이 너무 많고, 우리가 시행하는 기간 기준에도 부합하지 않아 삭제한다.
col_list = df.columns

drop_col = [s for s in col_list if "2007" in s] 
df.drop(drop_col, axis=1, inplace=True)

In [ ]:
df.isnull().sum(0).reset_index().sort_values(by=0, ascending=False).head(20)

In [ ]:
# 행 기준으로 nan 값을많이 가지고 있는 것을 뽑는다.
df['NaN_cnt'] = df.isnull().sum(1)
df['NaN_cnt'].value_counts().reset_index()

In [ ]:
df[df['NaN_cnt'] == 16]

In [ ]:
df = df[df['NaN_cnt'] < 16]
df['NaN_cnt'].value_counts()

In [ ]:
# 컬럼기준으로 nan 값을 확인해보면, 상장폐지일 컬럼에만 nan값이 있는 것을 확인할 수 있다.
# df.isnull().sum(0).reset_index().sort_values(by=0, ascending=False)

In [ ]:
df['회계년도'] = df['회계년도'].str[0:4].astype(int)

In [ ]:
df.sort_values(by=['회사명', '회계년도'], ascending=[True, True], inplace=True)

In [ ]:
# df_03 = df[df['산업대분류'] == '03']
# df_07 = df[df['산업대분류'] == '07']
# df_10 = df[df['산업대분류'] == '10']

In [ ]:
# df_07.describe()

In [ ]:
df = df.drop(columns={'NaN_cnt','상장폐지일'})
df

In [ ]:
# 부도여부 칼럼 형성
df.loc[((df['감사의견코드'] == 'DS') | 
          (df['감사의견코드'] == 'DU')) & 
         (df['소속코드'].isin([3,4,6])), 
         '부도여부'] = '1'

df['부도여부'] = df['부도여부'].fillna('0')

In [ ]:
df['부도여부'].value_counts()

# 방법2 채택을 위한 작업

In [ ]:
df['left_on'] = df['회계년도']-1

left_df = df[['회사명', '거래소코드','부도여부','left_on']]

In [ ]:
merged_df = pd.merge(left_df, df, left_on=['회사명','거래소코드','left_on'], 
                     right_on = ['회사명','거래소코드','회계년도'], how='left')
merged_df.head()
# 여기에 Nan값이 나오는 이유
# left_on_x의 처음 값이 2006년인데, 우리는 데이터셋을 에초에 2007년부터 불러왔기 때문에 없는 것임.
# 따라서 해당 행을 drop해야 한다.

In [ ]:
merged_df[merged_df['회사명']=='(주)차바이오텍']

In [ ]:
merged_df.isnull().sum().value_counts()

In [ ]:
# 2006년 데이터는 애초에 없기에 그런 행들을 삭제해준다.
merged_df = merged_df[~merged_df['회계년도'].isnull()]

merged_df.drop(columns = ['부도여부_y','left_on_x','left_on_y'], inplace=True)
merged_df.rename(columns = {'부도여부_x': '차기부도여부'}, inplace=True)
merged_df.sort_values(by=['회사명', '회계년도'], inplace=True)
merged_df.shape

# 18723 행

In [ ]:
print('부도 기업의 데이터 행 수 : {}'.format(merged_df['차기부도여부'].value_counts()[1]))
print('다음 사업연도에 감삭결과가 DS, DU 이거나 관리종목 혹은 상장 폐지로 되는 기업의 개수 : {}'.
      format(merged_df[merged_df['차기부도여부']=='1']['회사명'].nunique()))

In [ ]:
first_bankruptcy=pd.DataFrame(columns=['회사명'])
first_bankruptcy['회사명'] = merged_df['회사명'].unique()

# merged_df에서 고유한 회사명만 가져가게 된다.
# first_bankruptcy

In [ ]:
# check에는 234개의 부도 데이터가 들어가게 된다. (즉, 기업이 중복되는 행이 존재하는 것)
check = merged_df[merged_df['차기부도여부']=='1'][['회사명','회계년도','차기부도여부']].sort_values(by=['회사명', '회계년도', '차기부도여부'], ascending=[True, True, True])
# 중복되는 기업 행을 제거하기 위해 시행하는 것으로 keep first는 중복되는 값 중 앞에 있는 것을 남기겠다는 것
check = check.drop_duplicates(['회사명'], keep='first')
check.drop(columns='차기부도여부', inplace=True)
# 따라서 check는 214개의 부도 데이터를 가져가게 된다.
# check

In [ ]:
# 고유한 기업 2126개에 부도 기업 214개를 merge 하게되면 회계년도 부도난 시점이 들어가게 됨.
first_bankruptcy = pd.merge(first_bankruptcy, check, how ='left', on='회사명')
# 하지만, 정상기업의 경우는 Nan 값이 들어가기 때문에 fillna를 시행한다
first_bankruptcy['회계년도'] = first_bankruptcy['회계년도'].fillna(2021.0)
# 여기서 회계년도 + 1 년에 부도가 발생한 것이기 때문에 회계년도 를 첫부도일 -1 이라는 더 직관적인 명칭으로 변경한다
first_bankruptcy.rename(columns={'회계년도' : '첫_부도일-1'}, inplace=True)
# first_bankruptcy

In [ ]:
# 2021.0이 아닌 값을 가지게 되는 기업은 총 214개로 이는 고유한 부도기업 데이터임
first_bankruptcy[first_bankruptcy['첫_부도일-1']!=2021.0]

In [ ]:
# 먼저 빈 데이터 프레임, 리스트를 형성해준다.
final_df  = pd.DataFrame()
tmp_list = []

for row, col  in first_bankruptcy.iterrows():
  tmp = merged_df[(merged_df['회사명'] == col['회사명']) & (merged_df['회계년도']<= col['첫_부도일-1'])]
  tmp_list.append(tmp)
final_df = pd.concat(tmp_list)
final_df.reset_index(inplace=True)
final_df.drop(columns='index', inplace = True)

In [ ]:
final_df

In [ ]:
print('부도 기업의 데이터 행 수 : {}'.format(final_df['차기부도여부'].value_counts()[1]))
print('다음 사업연도에 감삭결과가 DS, DU 이거나 관리종목 혹은 상장 폐지로 되는 기업의 개수 : {}'.
      format(final_df[final_df['차기부도여부']=='1']['회사명'].nunique()))

In [ ]:
final_df.rename(columns={'상품':'제품회전률', '원':'부재료회전률'}, inplace=True)

In [ ]:
final_df.to_csv('dataset/basic_final_df.csv')