<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-코스피지수-데이터-크롤링" data-toc-modified-id="1.-코스피지수-데이터-크롤링-1">1. 코스피지수 데이터 크롤링</a></span></li><li><span><a href="#2.-수집날짜-리스트-생성" data-toc-modified-id="2.-수집날짜-리스트-생성-2">2. 수집날짜 리스트 생성</a></span></li><li><span><a href="#3.-팍스넷-뉴스타이틀-크롤링" data-toc-modified-id="3.-팍스넷-뉴스타이틀-크롤링-3">3. 팍스넷 뉴스타이틀 크롤링</a></span></li><li><span><a href="#4.-네이버-뉴스타이틀-크롤링" data-toc-modified-id="4.-네이버-뉴스타이틀-크롤링-4">4. 네이버 뉴스타이틀 크롤링</a></span></li></ul></div>

# 1. 코스피지수 데이터 크롤링

- 수집대상 : yahoo 'finance' -> 코스피지수

- 수집날짜 : 2019.08.01 ~ 2020.02.01

In [1]:
import pandas_datareader as wb
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
pd.set_option('precision', 4)

# 코스피지수 크롤링
start = datetime.datetime(2019, 8, 1)
end = datetime.datetime(2020, 2, 1)
df_null = wb.DataReader("^KS11","yahoo",start,end)     # ^KS11 : 코스피
df = df_null.dropna()                                  # 결측치 제거

# 새로운 칼럼 생성
# (Price : 당일 대비 다음날 주가가 상승했으면 1, 하락했으면 0 표시)
df['Price'] = 0
for i in range(0, 120):
    if df['Close'][i] < df['Close'][i+1]:
        df['Price'][i] = 1
    else:
        df['Price'][i] = 0
df

C:\Users\Playdaya\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Playdaya\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,High,Low,Open,Close,Volume,Adj Close,Price
Date,,,,,,,
2019-08-01,2032.2300,2009.3300,2015.0900,2017.3400,461700.0,2017.3400,0
2019-08-02,2005.3101,1987.1200,1995.3101,1998.1300,438500.0,1998.1300,0
2019-08-05,1987.6400,1945.3900,1985.9301,1946.9800,639600.0,1946.9800,0
2019-08-06,1948.5300,1891.8101,1900.3600,1917.5000,739600.0,1917.5000,0
2019-08-07,1929.2900,1901.6100,1925.3300,1909.7100,760800.0,1909.7100,1
...,...,...,...,...,...,...,...
2020-01-23,2260.6299,2241.9399,2254.5400,2246.1299,509600.0,2246.1299,0
2020-01-28,2199.9299,2166.2300,2192.2200,2176.7200,808500.0,2176.7200,1
2020-01-29,2195.4500,2172.3301,2188.1799,2185.2800,692300.0,2185.2800,0
2020-01-30,2187.4500,2139.7200,2181.5400,2148.0000,602700.0,2148.0000,0
2020-01-31,2167.2300,2119.0100,2160.6001,2119.0100,710500.0,2119.0100,0

In [3]:
# 'kospi_주가데이터.xlsx' 이름으로 파일 저장
df.to_csv('kospi_주가데이터.csv')

# 2. 수집날짜 리스트 생성

- 다음날 주가가 하락한 경우 : date_0
- 다음날 주가가 상승한 경우 : date_1

In [4]:
price_data = pd.read_csv('kospi_주가데이터.csv')
df_0 = price_data[price_data['Price']==0]['Date']

date_0 = []
for i in range(0,len(df_0)):
    date_0.append(str(df_0.tolist()[i])[:10].replace('-',''))
date_0

['20190801',
 '20190802',
 '20190805',
 '20190806',
 '20190812',
 '20190814',
 '20190821',
 '20190822',
 '20190823',
 '20190828',
 '20190902',
 '20190924',
 '20190926',
 '20191001',
 '20191002',
 '20191008',
 '20191016',
 '20191017',
 '20191022',
 '20191028',
 '20191029',
 '20191107',
 '20191108',
 '20191112',
 '20191115',
 '20191118',
 '20191119',
 '20191120',
 '20191125',
 '20191127',
 '20191128',
 '20191202',
 '20191203',
 '20191204',
 '20191213',
 '20191217',
 '20191220',
 '20191223',
 '20191227',
 '20191230',
 '20200103',
 '20200107',
 '20200114',
 '20200120',
 '20200122',
 '20200123',
 '20200129',
 '20200130',
 '20200131']

In [5]:
df_1 = price_data[price_data['Price']==1]['Date']

date_1 = []
for i in range(0,len(df_1)):
    date_1.append(str(df_1.tolist()[i])[:10].replace('-',''))
date_1

['20190807',
 '20190808',
 '20190809',
 '20190813',
 '20190816',
 '20190819',
 '20190820',
 '20190826',
 '20190827',
 '20190829',
 '20190830',
 '20190903',
 '20190904',
 '20190905',
 '20190906',
 '20190909',
 '20190910',
 '20190911',
 '20190916',
 '20190917',
 '20190918',
 '20190919',
 '20190920',
 '20190923',
 '20190925',
 '20190927',
 '20190930',
 '20191004',
 '20191007',
 '20191010',
 '20191011',
 '20191014',
 '20191015',
 '20191018',
 '20191021',
 '20191023',
 '20191024',
 '20191025',
 '20191030',
 '20191031',
 '20191101',
 '20191104',
 '20191105',
 '20191106',
 '20191111',
 '20191113',
 '20191121',
 '20191122',
 '20191126',
 '20191129',
 '20191205',
 '20191206',
 '20191209',
 '20191210',
 '20191211',
 '20191212',
 '20191216',
 '20191218',
 '20191219',
 '20191224',
 '20191226',
 '20200102',
 '20200106',
 '20200108',
 '20200109',
 '20200110',
 '20200113',
 '20200115',
 '20200116',
 '20200117',
 '20200121',
 '20200128']

In [6]:
# 다른 방법
# 수집날짜 리스트 생성
# date_index = pd.date_range(start='20190801', end='20200131')
# date_list = date_index.strftime("%Y%m%d").tolist()

# 3. 팍스넷 뉴스타이틀 크롤링

- 수집대상 : 팍스넷 '많이 본 뉴스' -> '증권' 분야 뉴스타이틀
- 수집날짜 : 2019.08.01 ~ 2020.01.31 (6개월)

In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib import parse

In [8]:
result_list = []
error_cnt = 0

def paxnet_news_title(dates):
    base_url = 'http://www.paxnet.co.kr/news/much?newsSetId=4667&currentPageNo={}&genDate={}&objId=N4667'
    headers = {
        'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36'
    }
    
    for date in dates:
        for page in range(1, 3):
            url = base_url.format(page, date)
            res = requests.get(url, headers=headers)
            if res.status_code == 200:
                soup = BeautifulSoup(res.text)
                title_list = soup.select('ul.thumb-list li')
                for title in title_list:
                    try:
                        news_title = title.select_one('dl.text > dt').text.strip()
                        result_list.append([news_title])
                    except:
                        error_cnt += 1

In [9]:
paxnet_news_title(date_0)

In [11]:
title_df_0 = pd.DataFrame(result_list, columns=['뉴스제목'])
title_df_0['주가변동'] = 0
title_df_0.head()

                                                뉴스제목  주가변동
0                       글로벌 큰손들 '검은 연기 내뿜는 기업' 투자 외면     0
1  [특징주]한국바이오젠, 日 수출규제 속 국내 유일 실리콘 합성기술 보유 부각…공모가 상회     0
2               한국증시도 실망… 변동성 커졌다 [美 기준금리 0.25%P 인하]     0
3                        [특징주] 첨생법, 국회 법사위 통과…관련株 강세     0
4                        [유튜브 이대로 좋은가]③수익 관리감독 사각지대?     0

In [12]:
result_list = []
error_cnt = 0

paxnet_news_title(date_1)

In [14]:
title_df_1 = pd.DataFrame(result_list, columns=['뉴스제목'])
title_df_1['주가변동'] = 1
title_df_1.head()

                                             뉴스제목  주가변동
0      금융당국 꺼낸 '공매도 규제'...2008년·2011년 위기때 '효과 별로'     1
1                                    코스닥 '여름 폭락설'     1
2               금융위기때와 비교해보니…바이오株 급락해도 여전히 `고평가`?     1
3                             强달러에 달러·선물엔화 ETF 강세     1
4  [특징주] 미래산업, 삼성전자 모든 반도체 소재장비 '탈일본' 플랜 수립 소식에 ↑     1

In [27]:
title_df = pd.concat([title_df_0, title_df_1])
title_df.to_csv('팍스넷_뉴스타이틀.csv', index=False, encoding='utf-8')

In [28]:
title_df

                                                   뉴스제목  주가변동
0                          글로벌 큰손들 '검은 연기 내뿜는 기업' 투자 외면     0
1     [특징주]한국바이오젠, 日 수출규제 속 국내 유일 실리콘 합성기술 보유 부각…공모가 상회     0
2                  한국증시도 실망… 변동성 커졌다 [美 기준금리 0.25%P 인하]     0
3                           [특징주] 첨생법, 국회 법사위 통과…관련株 강세     0
4                           [유튜브 이대로 좋은가]③수익 관리감독 사각지대?     0
...                                                 ...   ...
2875                             우한發 조정장…백신 늦어지면 장기화 우려     1
2876                                      오후장 특징주★(코스닥)     1
2877                                 [증시일정] 브이티지엠피 감자 등     1
2878                           외국계 순매수,도 상위종목(코스닥) 수량기준     1
2879                                  우한폐렴에 中 소비주↓ 백신주↑     1

[4840 rows x 2 columns]

# 4. 네이버 뉴스타이틀 크롤링

- 수집대상 : 네이버 '많이 본 뉴스' -> '경제' 분야 뉴스타이틀
- 수집날짜 : 2019.08 ~ 2020.01 (6개월)

In [49]:
result_list = []
error_cnt = 0

def naver_news_title(dates):
    base_url = 'https://news.naver.com/main/ranking/popularDay.nhn?rankingType=popular_day&sectionId=101&date={}'
    headers = {
        'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36'
    }
    
    for date in dates:
        url = base_url.format(date)
        res = requests.get(url, headers=headers)
        if res.status_code == 200:
            soup = BeautifulSoup(res.text)
            title_list = soup.select('ol.ranking_list li')
            for title in title_list:
                try:
                    news_title = title.select_one('div.ranking_headline').text.strip()
                    result_list.append([news_title])
                except:
                    error_cnt += 1

In [40]:
naver_news_title(date_0)

In [42]:
title_df_2 = pd.DataFrame(result_list, columns=['뉴스제목'])
title_df_2['주가변동'] = 0
title_df_2.head()

                                      뉴스제목  주가변동
0              자국기업까지 불똥 튈라… 세계 언론들, 아베 비판     0
1           불매운동에 유니클로 못 견뎠나…종로3가점 임대절차 착수     0
2  [단독] 유니클로보다 많은 ABC마트·데상트… 일본 불매 '톱4' 수…     0
3         내년부터 일부 보험료 2∼4% 인하될 듯…해약환급금도 늘어     0
4          이나영, 유니클로 '히트택' 대신 탑텐 '온에어' 입는다     0

In [50]:
result_list = []
error_cnt = 0

naver_news_title(date_1)

In [52]:
title_df_3 = pd.DataFrame(result_list, columns=['뉴스제목'])
title_df_3['주가변동'] = 1
title_df_3.head()

                                     뉴스제목  주가변동
0   “가족여행 기회” 대한항공 직원들 ‘무더기 일본행’ 제드 티켓 논란     1
1             [단독] 삼성, 모든 반도체 소재 ‘脫일본’ 플랜     1
2       日, 한국 ‘화이트리스트 제외’ 시행령 공포…A→B그룹 강등     1
3  “유니클로 단속반? 이 정도면 협박”… 불매강요에 네티즌들 “너무 …     1
4  “일본 여행 안 간다”…국내 항공사, 탑승객 줄자 日항공편 대폭 축…     1

In [53]:
title_df2 = pd.concat([title_df_2, title_df_3])
title_df2.to_csv('네이버_뉴스타이틀.csv', index=False, encoding='utf-8')

In [54]:
title_df2

                                         뉴스제목  주가변동
0                 자국기업까지 불똥 튈라… 세계 언론들, 아베 비판     0
1              불매운동에 유니클로 못 견뎠나…종로3가점 임대절차 착수     0
2     [단독] 유니클로보다 많은 ABC마트·데상트… 일본 불매 '톱4' 수…     0
3            내년부터 일부 보험료 2∼4% 인하될 듯…해약환급금도 늘어     0
4             이나영, 유니클로 '히트택' 대신 탑텐 '온에어' 입는다     0
...                                       ...   ...
2155       신종코로나 확산에 항공업계 '비상'…中노선 중단 잇따라(종합)     1
2156              [단독] 차기 우리은행장에 김정기 부행장 '유력'     1
2157          청약점수서 밀리자…30대, 서울 아파트매매 ‘큰손’ 됐다     1
2158          [신종 코로나 팩트체크] 공기로 감염? 김치가 예방효과?     1
2159        지난해 전국 전·월세 '뚝뚝뚝'…14년 만에 처음 하락 전환     1

[3630 rows x 2 columns]

In [55]:
all_title = pd.concat([title_df, title_df2])

# '팍스넷&네이버_뉴스타이틀' 이름으로 파일 저장
all_title.to_csv('팍스넷&네이버_뉴스타이틀.csv')